/* colours */
:root {
    --primary: #49cff8;
    --secondary: #002eac;
    --title: #000000;
  }
  
  /* layout styles */
  h5 {
    background: var(--primary);
    border-bottom: 10px solid var(--secondary);
    font-weight: bold;
    text-align: center;
  }
  
  /* form-styles */
  .add-btn {
    background: var(--title) !important;
  }
  input {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
  }
